[submodule "Engine/dependencies/glfw"]
	path = Engine/dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/dependencies/glew_"]
	path = Engine/dependencies/glew_
	url = https://github.com/nigels-com/glew
[submodule "Engine/dependencies/glm"]
	path = Engine/dependencies/glm
	url = https://github.com/g-truc/glm
